page-login {
    .error {
        color: red;
    }
    .button {
        text-transform: capitalize;
        margin: auto;
        display: block;
        border-radius: 10px;
        background-color: #FB8D30;
        color: white;
        top: 40px;
        padding: 21px 55px
    }
    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating],
    {
        color: #E65100 !important;
    }
}